.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  width: var(--width-frame);
  height: var(--height-frame);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-background-light-1);
}
