:root {
  --width-frame: 450px;
  --height-frame: 750px;
  --height-header: 60px;
  --height-main: 630px;
  --color-background: #202124;
  --color-background-light-1: #edddc9;
  --color-background-light-2: burlywood;
  --color-background-coral-1: coral;
  --color-background-coral-2: #ff6431;
  --color-gray-1: #bdbdbd;
  --color-gray-2: #5e5e5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-size: 16px;
  background-color: var(--color-background);
}
a {
  text-decoration: none;
}
a:visited,
a:link {
  color: var(--color-background);
}
