.nav {
  width: 100%;
  height: var(--height-header);
  padding: 10px;
  background-color: var(--color-background-light-2);
}
.nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav ul li a {
  padding: 2px;
}
.nav ul li a svg {
  transition: 0.3s all ease;
}
.nav ul li a svg:hover {
  transform: scale(1.3);
}
